<div class="about row">
  <div class="col-3">
      <img src="../../../assets/images/me.jpg" alt="Avatar" id="me">
  </div>
  <div class="col-1"></div>
  <div class="col-6">
    
    Hi, I'm Blake! I'm a Full Stack Developer looking a career in 
    Software Engineering, learning more every day. 

    <br>
    <br>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non fermentum mi, a interdum turpis. Nulla facilisi. Etiam vulputate eget nulla id sagittis. Praesent eget tortor ante. Phasellus vitae rhoncus ex. Nullam orci nibh, scelerisque non viverra id, egestas non nibh. Aenean posuere ex eu ligula ullamcorper, sed vehicula neque convallis. Ut dictum commodo urna et iaculis. Sed faucibus mollis convallis. Curabitur tellus orci, feugiat tristique sem nec, vestibulum porttitor est.

  </div>
</div>
