<div class="row">
  <div class="col-1"></div>
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand nav-name" href="#">Blake
        <br> McCartin
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-list" aria-controls="navbarText" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-list">
        <ul class="navbar-nav nav-list">
          <li>
            <a class="header-items" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="header-items" routerLink="/resume" routerLinkActive="active">Resume</a>
          </li>
          <li>
            <a class="header-items" routerLink="do" routerLinkActive="active">Interests</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- <div class="container">
  <hl></hl>
</div> -->
<div class="row">
  <div class="col-10">
    <hr class="nav-line">
  </div>
</div>