<div class="row">
  <div class="col-4">
      <div class="card">
          <img class="card-img" src="../../../assets/images/riverboat.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Thurtene Carnival </h5>
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card">
          <img class="card-img" src="../../../assets/images/riverboat.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Thurtene Carnival </h5>
          </div>
        </div>
  </div>
</div>
<h2>I build stuff, like this website. So meta</h2>

<h2>Look at this Thurtene stuff. What a build</h2>

<h2>I build with all kinds of things, sometimes I build with dirt</h2>

<h2>I listen to stuff while I build stuff. Sometime I see the people I listen to while I build stuff. Here's what I'm into recently!</h2>
