#acn {
    width: 2.5rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#maxMed {
    width: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}