<h2>
  Professional Experience
</h2>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-1">
    <img id="acn" src="../../../assets/images/acnLogo.png">
  </div>
  <div class="col">
    <div class="row">
      <h3>Accenture</h3>
    </div>
    <div class="row">
      <i>Positions</i>
    </div>
    <div class="row">
      <ul>
        <li><b>Consulting Senior Analyst </b> December 2017 - present</li>
        <li><b>Consulting Analyst</b> October 2016 - December 2017</li>
      </ul>
    </div>
    <div class="row">
      <i>Projects</i>
    </div>
    <div class="row">
      <ul>
        <li><b>JumpStart Midwest</b> June 2017 - present</li>
        <br>
        <li>State Government AWS Connect Call Center POC</li>
        <li>JumpStart team Spinnaker + Kubernetes architecture</li>
        <li>ACN Internal Supply Chain group Blockchain Demo</li>
        <li>Automotive Industry connected vehicle Demo</li>
        <li>Hospitality client Microservices POC</li>
      </ul>
    </div>

  </div>
</div>

<h2>Education</h2>

<h2>Technical Experience</h2>
<i>My Icon Soup</i>

<h2>Interests</h2>
Construction
<br>
Ceramics
<br>
Cooking
